name: on-merge

on:
  push:
    branches:
    - 'master'

jobs:
  build-and-deploy:
    if: |
      !contains(fromJson('["ci skip","skip ci"]'), github.event.head_commit.message) &&
      !startsWith(github.event.head_commit.message, 'docs')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - uses: ./.github/actions/setup-yarn
        with:
          AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - name: build
        run: yarn build
      - name: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
          YARN_NPM_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        run: yarn semantic-release
